@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

.ini-header {
  background: black;
  padding: 20px 10px;
  overflow: hidden;
  opacity: 50%;
}

.ini-header h1 {
  color: white;
  text-align: center;
}

.ini-header a {
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

.header {
  float: left;
  color: white;
  padding-left: 10px;
}

.header-right {
  float: right;
}

.body p {
  text-align: justify;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
}

.div-add-brand {
    text-align: left;
}

.div-add-brand label {
  padding-right: 125px;
}